<div class="view contact">
    <div class="content clearfix">
        <a class="btn left col-2 top" href="/" data-navigo >About</a><br>
        <a class="btn left col-2 top" href="project/tesla" data-navigo >Works</a>
        <div class="content-centered">
            <h1 class="col-3">Let's keep in touch</h1>
            <p class="col-3">I’m looking for an internship from July to October in London as a Web Designer !<br>I also do freelance work, feel free to contact me for any request.</p>
            <a class="btn right col-right-3" href="#">E-mail</a><br>
            <a class="btn right col-right-3" href="#">Twitter</a><br>
            <a class="btn right col-right-3" href="#">Behance</a>
        </div>
        <a class="btn left col-2 bottom" href="http://louisamiot.com">Developed by Louis Amiot</a>        
    </div>
</div>