<div class="view contact">
    <div class="content clearfix">
        <a class="btn left col-2 top" href="/" data-navigo ><span>About</span></a><br>
        <a class="btn left col-2 top" href="project/tesla" data-navigo ><span>Works</span></a>
        <div class="content-centered">
            <h1 class="col-3">Let's keep in touch</h1>
            <p class="col-3">I’m looking for an internship from July to October in London as a Web Designer !<br>I also do freelance work, feel free to contact me for any request.</p>
            <a class="btn right col-right-3" href="mailto:chrissen.r@gmail.com"><span>E-mail</span></a><br>
            <a class="btn right col-right-3" target="_blank" href="https://twitter.com/Chrissen_R"><span>Twitter</span></a><br>
            <a class="btn right col-right-3" target="_blank" href="https://www.behance.net/chrissenr"><span>Behance</span></a>
        </div>
        <a class="btn left col-2 bottom" target="_blank" href="http://louisamiot.com"><span>Developed by Louis Amiot</span></a>        
    </div>
</div>