<div class="view home">
    <div class="content clearfix">
        <a class="btn left col-2 top" href="project/tesla" data-navigo ><span>Works</span></a>
        <div class="content-centered">
            <h1 class="col-3">Rajathurai Chrissen</h1>
            <p class="col-3">I am a French UI Designer & 3rd year student @HETIC.<br>Looking for a 4 month internship in London!</p>
            <a class="btn right col-right-3" target="_blank" href="files/resume.pdf"><span>My Resume</span></a>
        </div>
        <a class="btn left col-2 bottom" href="contact" data-navigo ><span>Contact</span></a>
    </div>
</div>