<div class="view home">
    <div class="content clearfix">
        <a class="btn left col-2 top" href="project/explore" data-navigo>Works</a>
        <div class="content-centered">
            <h1 class="col-3">Rajathurai Chrissen</h1>
            <p class="col-3">French UX | UI Designer, 3rd year student @HETIC.<br>Looking for a 4 month internship in London.</p>
            <a class="btn right col-right-3" href="#">My Resume</a>
        </div>
        <a class="btn left col-2 bottom" href="contact" data-navigo>Contact</a>
    </div>
</div>