<div class="view homemobile">
    <div class="content clearfix">
        <a class="btn left col-2 top" href="project/tesla" data-navigo ><span>Works</span></a>
        <div class="content-centered">
            <h1 class="col-2">Rajathurai Chrissen</h1>
            <p class="col-2">I am a French UI Designer & 3rd year student @HETIC.<br>Looking for a 4 month internship in London!</p>
            <a class="btn right col-right-4" target="_blank" href="files/resume.pdf"><span>My Resume</span></a><br>
            <a class="btn right col-right-4" href="mailto:chrissen.r@gmail.com"><span>E-mail</span></a><br>
            <a class="btn right col-right-4" target="_blank" href="https://twitter.com/Chrissen_R"><span>Twitter</span></a><br>
            <a class="btn right col-right-4" target="_blank" href="https://www.behance.net/chrissenr"><span>Behance</span></a>
        </div>
    </div>
</div>