.project {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 1;
	transition: all 0.3s ease-in 0.8s;
	position: relative;
	z-index: initial;
	.layer {
		background-image: url('../img/layer.png');
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;;
	}
	h1 {
		&:after {
			background-color: white;
		}
	}
	p {
		color: white;
	}
	.top {
		span { 
			color: white;
		}
		&:before {
			background-color: white;
		}
	}
	.project-info {
		position: absolute;
		bottom: -20px;
		transform: translateX(2px);
		width: auto;
		p {
			display: block;
			font-family: $mont;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 14px;
			color: white;
			text-decoration: none;
			overflow: hidden;
			transform: translateX(-3px);
			margin-bottom: 10px;
			padding-right: 7px;
			position: relative;
			span {
				display: block;
				white-space: nowrap;
				width: 100%;
				overflow: hidden;
				transform: translateX(-153px);
				transition: all 0.4s ease-in;
			}
			&:before {
				content: "";
				display: inline-block;
				height: 10px;
				width: 1px;
				background-color: white;
				margin-right: 10px;
				transform: translateX(1px);
				transition: all 0.4s ease-in;
				position: absolute;
				margin-top: 2px;
				left: 0;
				opacity: 0;
			}
		}
	}
	&.project-explore {
		background-image: url('../img/explore.jpg');
	}
	&.project-tesla {
		background-image: url('../img/tesla.jpg');
	}
	&.project-dailymasterpiece {
		background-image: url('../img/masterpiece.jpg');
	}

	&.project-louis {
		background-image: url('../img/louis.jpg');
	}
	&.fade-out {
		opacity: 0;
	}
}