body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#app {
	width: 100%;
	height: 100%;
	background-color: $blue;
	font-family: $mont;
	color: white;
	font-size: 20px;
}

.view {
	width: 100%;
	height: 100%;
	&.animate-in {
		position: absolute;
		z-index: 6;
		top: 0;
		.content-centered {
			h1 {
				opacity: 0;
				transform: translateX(-3px) scale(1.1);
				perspective: 1000; backface-visibility: hidden;
				&:after {
					height: 0;
					bottom: -32px;
					perspective: 1000; backface-visibility: hidden;
				}
			}
			p.col-3 {
				opacity: 0;
				transform: translateX(-2px) scale(1.1);
				perspective: 1000; backface-visibility: hidden;
			}
		}
	}
	&.view-loaded {
		.content-centered {
			.btn {
				&:after {
					opacity: 1;
				}
				span {
					width: 100%;
				}
			}
		}
		.project-info {
			p {
				span {
					transform: translateX(7px);
				}
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

.shutters {
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 8;
	.shutter {
		height: 100%;
		position: absolute;
		width: 1px;
		background-color: $gray;

		&:nth-child(1) {
			left: 12.5%;
		}
		&:nth-child(2) {
			left: 25%;
		}
		&:nth-child(3) {
			left: 37.5%;
		}
		&:nth-child(4) {
			left: 50%;
		}
		&:nth-child(5) {
			left: 62.5%;
		}
		&:nth-child(6) {
			left: 75%;
		}
		&:nth-child(7) {
			left: 87.5%;
		}
	}
}

[class*="col"] {
	position: relative;
	&.col-right {
	}
	&.col-2 {
		left: 12.5%;
	}
	&.col-3 {
		left: 25%;
		width: 50%;
	}
	&.col-right-3 {
		right: 25%;
		text-align: right;
	}
}

.content {
	width: 100%;
	z-index:10;
	position: relative;
	height: 100%;
}

.btn {
	display: inline-block;
	font-family: $mont;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	text-decoration: none;
	overflow: visible;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	&.right {
		span {
			transform: translateX(-5px);
			width: 0%;
		}
		&:after {
			content: "";
			display: inline-block;
			height: 10px;
			width: 1px;
			background-color: white;
			transform: translateX(1px);
			transition: all ease-in 0.4s;
			position: absolute;
			margin-top: 2px;
			right: 0;
			opacity: 0;
		}
		&:hover {
			span {
				transform: translateX(-37px);
			}
			&:after {
				width: 32px;
			}
		}
	}
	&.left {
		color: $lightBlue;
		transition: all ease-in 0.4s;
		span {
			transform: translateX(5px);
			transition: all ease-in 0.4s;
			color: $lightBlue;
		}
		&:before {
			content: "";
			display: inline-block;
			height: 10px;
			width: 1px;
			background-color: $lightBlue;
			transition: all ease-in 0.4s;
			position: absolute;
			margin-top: 2px;
			left: 0;
			top: 0;
		}
		&:hover {
			color: white;
			span {
				transform: translateX(37px);
				color: white;
			}
			&:before {
				width: 32px;
				background-color: white;
			}
		}
	}
	&.top {
		display: none;
		top: 32px;
	}
	&.bottom {
		display: none;
		position: absolute;
		&:nth-last-child(1) {
			bottom: 32px;
		}
		&:nth-last-child(2) {
			bottom: 64px;
		}
	}
	span {
		white-space: nowrap;
		display: inline-block;
		overflow: hidden;
		transition: all ease-in 0.4s;
	}
}

h1 {
	font-size: 39px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-weight: bold;
	margin-bottom: 89px;
	position: relative;
	line-height: 39px;
	color: white;
	transform: translateX(-3px) scale(1);
	text-align: left;
	opacity: 1;
	perspective: 1000; backface-visibility: hidden;
	transition: all 0.4s ease-in;
	&:after {
		content: '';
		display: block;
		position: absolute;
		height: 25px;
		width: 1px;
		background-color: $lightBlue;
		bottom: -57px;
		left: 3px;
		transition: all 0.2s ease-in 0.4s;
		perspective: 1000; backface-visibility: hidden;
	}
}

p {
	text-align: left;
	font-family: $varela;
	font-size: 16px;
	line-height: 25px;
	color: $lightBlue;
	text-indent: 0;
	margin-bottom: 70px;
	transform: translateX(-2px) scale(1);
	transition: all 0.4s ease-in 0.6s;
	opacity: 1;
	perspective: 1000; backface-visibility: hidden;
}

.content-centered {
	position: absolute;
	width: 100%;
	transform: translateY(-50%) scale(1);
	top: 50%;
	text-align: right;
	transition: all 0.8s ease-in;
	opacity: 1;
	perspective: 1000; backface-visibility: hidden;
	&.scale-out {
		transform: translateY(-50%) scale(1.1);
		opacity: 0;
	}
}